/* 
1. O tema do projeto será de loja ficticia, nome e logo específicos ficarão a escolha do aluno

2. Deverá ter 4 telas, a de login, a de cadastro, página principal e um catalogo

3. Deverá também ser desenvolvido o link entre elas para que o usuário possa navegar entre as páginas

4. Todas deverão ter estruturado um formulário com inputs e labels funcionais para suas respectivas tarefas (Seja de logar e etc).

5. Deverá ter uma interação CSS no projeto (Seja hover,active,focus etc).

6. A entrega deverá ser feita com a pasta do projeto zipada ou por link do repositório público no github.

7. Deverá ser utilizado o bootstrap em alguma ocasião a seu critério

8. A página em seu principal conteudo deverá ser responsivo!

9. Deverá ser utilizado apenas Html, css, Js (apenas para o botão de menu )e bootstrap e arquivos adicionais (Imagens,videos, audios etc..), 
quaisquer outros elementos que fogem a regra serão desconsiderados.
 */

 *{
    padding: 0%;
    margin: 0%;
 }

 header{

    width: 100%;
    padding: 20px 0px;
    margin-bottom: 20px;
    float: right;
    background-color: rgb(230, 95, 95);
    border-radius: 10px;

}

.cabecalho{

    float: right;
    color: rgb(230, 95, 95);
}

button{

    width: 200px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 100px;
}

h1{

    text-align: center;

}

#catalogo{
    float:left;
}

footer{

    background-color: rgb(230, 95, 95);
    padding: 20px 0px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    height: 100%;

} 

.somos{

    background-color: rgb(230, 95, 95);
    text-align: center;
    border-radius: 100px;
}
